{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
    <title>My Blog</title>
    <style>
    #content {
        margin: 0 auto;
        width: 40vw;
    }
    </style>
</head>

<body>
	{% block navigation %}
	{% include 'post/partials/navigation.html' %}
	{% endblock %}
    <div id="notify">
           
    </div>
    {% block content %}
    {% endblock %}

    <script src="{% static 'blog/js/bootstrap.bundle.min.js' %}"></script>
    {% block script %}
    {% endblock %}
</body>

</html>
